.clangd
*.o
app/hello/hello
app/producer_consumer/producer_consumer
app/philosophers_dinner/philosophers_dinner
app/scheduler_simulator/scheduler_simulator
img/scheduler_simulator
*.img
boot_legacy_pc
boot_legacy_pc.s
setup_legacy_pc
tools/eposcc/eposcc.cfg
tools/eposcfg/eposcfg
tools/eposmkbi/eposmkbi

etc/epos.cfg
etc/eposcc.cfg
