.clangd
*.o
hello
producer_consumer
philosophers_dinner
app/scheduler_simulator/scheduler_simulator
img/scheduler_simulator
*.img
*.log
*.out
boot_legacy_pc
boot_legacy_pc.s
setup_legacy_pc
tools/eposcc/eposcc.cfg
tools/eposcfg/eposcfg
tools/eposmkbi/eposmkbi

etc/epos.cfg
etc/eposcc.cfg
